# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/tour-management

# JWT Secret
JWT_SECRET=3bb1269f1de63d7e052be285beba42786d658bd67dfb0324689a191e8f9074c8

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development

# mongodb+srv://iftakhar01755_db_user:<db_password>@cluster0.1n43ttm.mongodb.net/?appName=Cluster0